.bgMallAllDiv {
	/* 	display: flex; */
	/* 	border-radius: 20px; */
	
}

/* .MallMain { */
/* 	padding: 230px 0px 200px 0px; */
/*     height: 800px; */
/*     background: url("../img/background-ccc.jpg"); */
/*     background: <c:url value='/data/images/bigPic/1.jpg' />; */
/*     background-position: center; */
/*     background-size: cover; */
	
/* } */

.bgMallNavDiv {
	/* 	border-radius: 30px 30px; */
	/* 	margin: 0;  */
	/* 	padding: 0; */
/* 	background-color: #b87333; */
}

.bgMainGalleryDiv {
	width: 100%;
	padding: 0px 10px 0px 20px;
}

.bgMallSearchNavDiv {
	/* 		margin: 0;  */
	/* 	padding: 0; */
	
}

.bgMainGalleryDivIn {
/* 	display: flex; */
	Height: 100px;
	width: 100%;
/* 	background-color: #804000; */
	/* 	padding: 20px 20px 20px 20px; */
}

.SearchDiv1 {
	width: 80px;
/* 	background-color: #800040; */
	border-radius: 10px 10px 0 0;
	/* 	transform: translate(-50%, -50%); */
}

.SearchDiv2 {
	width: 80px;
/* 	background-color: #00ff00; */
	border-radius: 10px 10px 0 0;
}

.SearchDiv3 {
	width: 80px;
/* 	background-color: #ff8000; */
	border-radius: 10px 10px 0 0;
}

.SearchDiv4 {
	width: 80px;
/* 	background-color: #ff8000; */
	border-radius: 10px 10px 0 0;
}

.SearchDiv5 {
	padding: 0px 10px 0px 20px;
}

.bgMainGalleryDivIn1 {
/* 	background-color: #28FF28; */
	Height: 100%;
	width: 15%;
	
}
/* .bgMainGalleryDivIn1-1 { */
/* 	background-color: #28FF28; */
/* /* 	Height: 50%; */ 
/* 	width: 100%; */
	
/* } */
/* .bgMainGalleryDivIn1-2 { */
/* 	background-color: #F75000; */
/* /* 	Height: 50%; */ 
/* 	width: 100%; */
	
/* } */

.bgMainGalleryDivIn2 {
/* 	background-color: #6A6AFF; */
	Height: 100%;
	width: 10%;
}

.bgMainGalleryDivIn3 {
/* 	background-color: #F75000; */
	Height: 100%;
	width: 50%;
}

.bgMainGalleryDivIn4 {
/* 	background-color: #484891; */
	height: 100%;
	width: 15%;
}

.bgMainGalleryDivIn5 {
/* 	background-color: #F75000; */
	height: 100%;
	width: 10%;
}

